<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
		<div class="container">
			<div class="jumbotron">
				<h1 class="text-center text-warning"><%= jobs.filter(job => job.applied === 1).length%> / <%= jobs.length%></h1>
			</div>
			<% jobs.forEach(job => { %>
			<div class="card col-md-12 col-xs-4">
				<div class="bg-light">
					<h3 class="text-center text-primary"><%=job.title%></h3>
					<h5 class="text-center text-italic"><%=job.company%></h5>
					<p><%= job.summary%></p>
				</div>
				<div class="text-centered">
					<% if(job.direct){%>
						<a class="btn btn-info" href="<%=job.url%>" target="_blank">Direct posting</a>
					<% } else {%>
						<a class="btn btn-primary" href="<%=job.url%>" target="_blank">Indeed posting</a>
					<% } %>
					<% if(job.applied == 0){%>
						<form style="display:inline;" action="/<%=job.id%>?_method=PUT" method="POST" >
							<button class="btn">Apply?</button>
						</form>
					<%}%>
					<form style="display: inline;" action="/<%=job.id%>?_method=DELETE" method="POST" onSubmit="return confirm('Are you sure you want to delete this job?');">
						<button class="btn-danger">Delete</button>
					</form>
				</div>
			</div>
				
			<% }) %>
		</div>
</body>
</html>